body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
  
  .topnav 
  {
    margin-top: 6px;
    text-align: center;
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a
  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 110px;
  }
  
  .topnav a:hover
  {
    background-color: gray;
    color: black;
  }
  
  .topnav a.active
  {
    background-color: grey;
    color: white;
  }
  .btn
  {
  border-radius: 20px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  }
  .loginbutton
  {
  float: left;
   line-height: 1px;
   margin-top: 10px;
   width: 90px;

   background-color: red;
   border-radius: 40px;
   border-color: red;
   margin-right: 110px;
}
.signupbutton
{
  float: left;
   line-height: 1px;
   text-align: center;
   margin-top: 10px;
   width: 90px;
   background-color: red;
   border-radius: 40px;
   border-color: red;
}

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column1
  {
    float: left;
    width: 370px;
    padding: 10px;
    margin-top: 240px;
    margin-left: 5.6%;   
    height: 370px;
    text-align: center;
    color: white;
    background-color: black;
  }
  .column2
  {
    float: left;
    width: 370px;
    padding: 10px;
    margin-top: 240px;
    margin-left: 5.6%;  
    height: 370px;
    text-align: center;
    color: white;
    background-color: black;
  }
  .column3
  {
    float: left;
    width: 370px;
    padding: 10px;
    margin-top: 240px;
    margin-left: 5.6%;  
    height: 370px;
    text-align: center;
    color: white;
    background-color: black;
  }
  
  /* Clear floats after the columns */
  .row:after
  {
    content: "";
    display: table;
    clear: both;
  }
  .imgone
  {
    width: 150px;
    height:250px;
    margin-left: 10px;
  }
  .imgtwo
  {
    width: 150px;
    height:250px;
    margin-left: 10px;
  }